{
    "allowParens": "always",
    "singleQuote": true,
    "bracketSpacing": true,
    "proseWrap": "preserve",
    "endOfLine": "crlf",
    "printWidth": 120,
    "semi": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "arrowParens": "always"
  }