body {
  background-color: #404040;
  color: white;
}

.App {
  padding: 20px;
  font-family: 'Mary Ann', Arial, Helvetica, sans-serif;
  background-color: #404040;
  color: white;
  max-width: 100%;
  margin: 0 0.5rem;
}
